body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #cec8c8;
}

.container {
  background: #fbfbfb;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  border: 2px solid #42a5f5;
  width: 25%;
}

h2 {
  margin-bottom: 20px;
  color: #42a5f5;
}

.form-group {
  margin-bottom: 12px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #42a5f5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}

#email {
  height: 40px;
}

#password {
  height: 40px;
}

.sign_up_input {
  height: 35px;
  padding-left: 10px;
  background-color: #fbfbfb;
  box-shadow: 7px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #42a5f5 !important;
  border-radius: 4px;
  color: #42a5f5;
  outline-color: #42a5f5;
}

button:hover {
  background-color: #42a5f5;
}

.account_link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

#Dont_account {
  font-weight: bold;
  color: #42a5f5;
}

#sign_anchr {
  color: #42a5f5;
}
